<%@ MasterClass="Application.layouts.ClientLayout" %>
    <com:TContent ID="PageClass">
        <div id="wrapper" class="home account-pages inner-pages">
    </com:TContent>


    <com:TContent ID="NavSection">
    </com:TContent>

    <com:TContent ID="PageContent">

        <div class="main">
            <div class="container">
                <div class="row container-margin">
                    <div class="col-md-3">
                        <%include Application.layouts.ClientNavBarAccount%>
                    </div>
                    <div class="col-md-9">
                        <div class="main-content-page">
                            <ul class="breadcrumb">
                                <li><a href="index.php?Home">Home</a>
                                </li>
                                <li class="active">Cancel Fixed Deposit</li>
                            </ul>
                            <div class="content-page">

                                <com:TMultiView ID="CancelTradeOrderPage" ActiveViewIndex="0" OnActiveViewChanged="viewChanged">
                                    <com:TView ID="VIewTradeOrder">

                                        <h4><strong>Cancel Fixed Deposit</strong></h4>

                                        <table class="table table-bordered">

                                            <tr>
                                                <td>NAME</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__name'] %></td>
                                            </tr>

                                            <tr>
                                                <td>CUSTOMER LABEL</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__label'] %></td>
                                            </tr>

                                            <tr>
                                                <td>FACE VALUE</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__faceValue'] %></td>
                                            </tr>

                                            <tr>
                                                <td>EXPECTED INTEREST</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__expectedInterest'] %></td>
                                            </tr>

                                            <tr>
                                                <td>TAX</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__expectedInterest'] - $this->Application->Session['__fixedDeposit__expectedNetInterest'] %></td>
                                            </tr>
                                            <tr>
                                                <td>EXPECTED NET INTEREST</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__expectedNetInterest'] %></td>
                                            </tr>

                                            <tr>
                                                <td>INSTRUMENT TYPE LABEL</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__instrumentTypeLabel'] %></td>
                                            </tr>

                                            <tr>
                                                <td>PORTFOLIO LABEL</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__portfolio'] %></td>
                                            </tr>

                                            <tr>
                                                <td>ROLLOVERRULE</td>
                                                <td>
                                                    <%=str_replace( "_", " ", $this->Application->Session['__fixedDeposit__rolloverRule'] ); %></td>
                                            </tr>

                                            <tr>
                                                <td>STATUS</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__status'] %></td>
                                            </tr>
                                            <tr>
                                                <td>TENURE</td>
                                                <td>
                                                    <%=$this->Application->Session['__fixedDeposit__tenure'] %></td>
                                            </tr>


                                        </table>

                                        <div class="form-actions right">
                                            <a class="btn red" href="index.php?page=client.ListEquityOrders">Back</a>
                                            <com:TLinkButton Text="Submit" CommandName="NextView" ValidationGroup="NewOrder" CommandParameter="OrderSubmit" CausesValidation="true" CssClass="btn green pull-right" />
                                        </div>
                                    </com:TView>
                                    <com:TView ID="FeedbackOrderTrade">
                                        <div class="row" style="margin:60px 0;">
                                            <div class="col-md-12" style="font-size:20px;text-align:center">
                                                <p>
                                                    <%=$this->Application->Session['__FixedDeposit_Cancel_message__'] %></p>
                                                <a href="index.php?page=client.ListFixedDeposit">Cancel</a>
                                            </div>
                                        </div>
                                    </com:TView>
                                </com:TMultiView>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </com:TContent>