<%@ MasterClass="Application.layouts.ClientLayout" %>

	<com:TContent ID="PageClass">
	</com:TContent>


	<com:TContent ID="NavSection">
	</com:TContent>
	<com:TContent ID="PageContent">

		<script>
			(function($) {
				$(document).ready(function() {
					var $container = $("#time");
					$container.load(location.href + ' #time');
					var refreshId = setInterval(function() {
						$container.load(location.href + ' #time');
					}, 10000);
				});
			})(jQuery);
			
			function popUp(){
				
					var popup = window.open('index.php');
					popup.moveTo(0,0);
					popup.resizeTo(318,340);
					popup.focus();
					popup.moveBy(500,200);
				
			}
		</script>
												<style>
										.tooltip2 {
											position: relative; top:0px; left:0px;
												}

										 .tooltiptext {
											visibility: hidden;
											width: 450px;
											background-color: #eee;
											border:1px solid #ccc;											
											border-radius: 6px;
											padding: 5px 0;

											/* Position the tooltip */
											position: absolute;
											 z-index: 1;
											bottom: 100%;
											left: 50%;
											margin-left: -400px;
											
										}
										 .tooltiptext td{
											padding: 5px 10px;  text-align: left; vertical-align: middle;  color: #000; font-weight: bold;
										}
										#r{color:#BC2417; text-transform:uppercase;}

										.tooltip2:hover .tooltiptext {
											visibility: visible;
										}
										</style>


		<div class="main">
			<div class="container">
				<div class="row container-margin">
					<div class="col-md-3">
						<%include Application.layouts.ClientNavBarAccount%>
							</div>
						<div class="col-md-9">
							<div class="main-content-page">
								<ul class="breadcrumb">
									<li><a href="index.php?Home">Home</a>
									</li>

									<li class="active"> My Contract Notes</li>
								</ul>
								<div class="content-page">
									<h4><strong>My Contract Notes&nbsp;</strong></h4>
									<table class="table">
										<tr id="tableTitle3">
											<th width="40%">Start Date</th>
											<th width="40%">End Date</th>
											<th width="20%"></th>
										</tr>
										<tr id="setWidth">
											<td id="inThree">
											<h5 id="hideThree"><strong>Start Date</strong></h5>
												<com:TDatePicker ID="StartDate" DateFormat="dd/MM/yyyy" ValidationGroup="Orders" CssClass="reducePickerLEO" style="padding:8px; border:1px solid #E4E6E8" />
												<com:TDataTypeValidator ValidationGroup="Orders" ControlToValidate="StartDate" Display="Dynamic" DataType="Date" DateFormat="dd/MM/yyyy" Text="Valid date required" />
											</td>
											<td id="inThree">
											<h5 id="hideThree"><strong>End Date</strong></h5>
												<com:TDatePicker ID="EndDate" DateFormat="dd/MM/yyyy" ValidationGroup="Orders" CssClass="reducePickerLEO" style="padding:8px; border:1px solid #E4E6E8" />
												<com:TDataTypeValidator ValidationGroup="Orders" ControlToValidate="EndDate" Display="Dynamic" DataType="Date" DateFormat="dd/MM/yyyy" Text="Valid date required" />
											</td>
											<td class="inBtnThree" id="inThree">
												<com:TButton Text="Search" OnClick="updateContractNotesListPage" CssClass=" btn blue moveUp" ValidationGroup="Orders" CausesValidation="true" />
											</td>
										</tr>
									</table>
									<div class="portfolio-info-table table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Contract #</th>
													<th>Transaction Date</th>
													<th>Order Type</th>
													<th>Quantity</th>
													<th>Symbol</th>
													<th>Price</th>
													<th>Contract Amount</th>
													
													<th>View</th>
												</tr>
											</thead>
											<tbody>
												<com:TRepeater ID="ContractNotesRepeater">
													<prop:ItemTemplate>
														<tr style="background-color:#FFF; font-size:12px;">
															<td>
																<%#$this->Data->name%> </td>
															<td>
																<%=Util::formatJavaDate($this->Data->transactionDate, null) %></td>
															<td>
																<%#$this->Data->orderType%></td>
															<td>
																<%=number_format($this->Data->quantity, 0, '.', ',') %></td>
															<td>
																<%#$this->Data->symbol%></td>
															<td>
																		<%=Util::formatNumber($this->Data->contractPrice)%></td>
															<td>
																		<%=Util::formatNumber($this->Data->contractAmount)%></td>															
															<td >
																<div class="tooltip2">
																<a href=#>More</a>
																
																	<table class="tooltiptext">
																		<tr><td id="r">label:</td><td><%#$this->Data->label%></td></tr>
																		<tr><td id="r">Contract #:</td><td><%#$this->Data->name%></td></tr>
																		<tr><td id="r">Transaction Date:</td><td><%=Util::formatJavaDate($this->Data->transactionDate, null) %></td></tr>
																		<tr><td id="r">Portfolio:</td><td><%#$this->Data->portfolioName%></td></tr>
																		<tr><td id="r">Order Type:</td><td><%#$this->Data->orderType%></td></tr>
																		<tr><td id="r">Quantity:</td><td><%=number_format($this->Data->quantity, 0, '.', ',') %></td></tr>
																		<tr><td id="r">Symbol:</td><td><%#$this->Data->symbol%></td></tr>
																		<tr><td id="r">Price:</td><td><%=Util::formatNumber($this->Data->contractPrice)%></td></tr>
																		<tr><td id="r">Contract Amount:</td><td><%#$this->Data->contractAmount%></td></tr>
																		<tr><td id="r">Contract Fee:</td><td><%=Util::formatNumber($this->Data->contractFee)%></td></tr>
																		<tr><td id="r">Agent Commission:</td><td><%=Util::formatNumber($this->Data->agentCommission)%></td></tr>
																		<tr><td id="r">Commission Charge:</td><td><%=Util::formatNumber($this->Data->commissionCharge)%></td></tr>
																		<tr><td id="r">Consideration:</td><td><%=Util::formatNumber($this->Data->consideration)%></td></tr>
																	</table>
																
																</div>	
																
															</td>
															<!--<td>
																<a href="#<%#$this->Data->id %>&action=view" target="_blank" >Download</a>     
															</td>-->
														</tr>
													</prop:ItemTemplate>
														</com:TRepeater>
													</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%include Application.layouts.ClientMarketTips%>
				</com:TContent>


