<%@ MasterClass="Application.layouts.ClientLayout" %>

	<com:TContent ID="PageClass">
	</com:TContent>


	<com:TContent ID="NavSection">
			</com:TContent>
<com:TContent ID="PageContent">
	<div class="main">
		<div class="container">
			<div class="row container-margin">
				<div class="col-md-3">
					<%include Application.layouts.ClientNavBarAccount%>
						</div>
					<div class="col-md-9">
						<div class="main-content-page">
							<ul class="breadcrumb">
								<li><a href="index.php?Home">Home</a></li>
								<li class="active">Fund Transaction</li>
							</ul>
							<div class="content-page">
								<h4><strong>Fund Transaction&nbsp;</strong><a href="index.php?page=client.NewFundTransaction" class="btn red pull-right margin-bottom-20">New Fund Transaction</a></h4>

							<table class="table">
								<tr>
									<th>Status</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th></th>
								</tr>
								<tr>
									<td>
										<com:TDropDownList AutoPostBack="false" ID="OrderStatus" DataTextField="label"
																			 DataValueField="id" CssClass="form-control"
																			 OnSelectedIndexChanged="Page.updateTradeOrderListPage">
										<com:TListItem Value="" Text="ALL" Selected="true"/>
										<com:TListItem Value="EXECUTED" Text="EXECUTED"/>
										<com:TListItem Value="PENDING" Text="PENDING"/>
										<com:TListItem Value="CANCELLED" Text="CANCELLED"/>
										<com:TListItem Value="APPROVED" Text="APPROVED"/>
										</com:TDropDownList>
									</td>
									<td>
									<com:TDatePicker ID="StartDate" DateFormat="dd/MM/yyyy" ValidationGroup="Orders" CssClass="TDatePicker" style="padding:8px; border:1px solid #E4E6E8"/>
                               <com:TDataTypeValidator
                                       ValidationGroup="Orders"
                                       ControlToValidate="StartDate"
                                       Display="Dynamic"
                                       DataType="Date"
                                       DateFormat="dd/MM/yyyy"
                                       Text="Valid date required"/>
                           		</td>
								<td>
									<com:TDatePicker ID="EndDate" DateFormat="dd/MM/yyyy" ValidationGroup="Orders" CssClass="TDatePicker" style="padding:8px; border:1px solid #E4E6E8"/>
                               <com:TDataTypeValidator
                                       ValidationGroup="Orders"
                                       ControlToValidate="EndDate"
                                       Display="Dynamic"
                                       DataType="Date"
                                       DateFormat="dd/MM/yyyy"
                                       Text="Valid date required"/>
								</td>
								<td>
										<com:TButton Text="Go" OnClick="updateTradeOrderListPage" CssClass=" btn green"
												 ValidationGroup="Orders" CausesValidation="true"/>
									</td>
								</td>
							</tr>
						</table>
                       <table class="table table-bordered">
                           <thead>
                           <tr>
                               <th>Transaction #</th>
                               <th>Fund</th>
                               <th>Portfolio</th>
                               <th>Status</th>
                               <th>Transaction Type</th>
                               <th>Transaction Amount</th>
                               <th>Order Date</th>
                           </tr>
                           </thead>
                           <tbody>

							   <com:TRepeater ID="FundTransactionRepeater">
                               <prop:ItemTemplate>
                                   <tr style="background-color:#FFF; font-size:12px;">
                                       <td><%#$this->Data->name%></td>
									   <td><%#$this->Data->fundLabel %></td>
									   <td><%#$this->Data->portfolioLabel %></td>
									   <td><%#$this->Data->status %></td>
									   <td><%#$this->Data->transType %></td>
									   <td><%= number_format($this->Data->transAmount, 2, '.', ',') %></td>
									   <td><%= Util::formatJavaDate($this->Data->orderDate, null) %></td>
								   </tr>


                               </prop:ItemTemplate>
                           </com:TRepeater>

                           </tbody>
                       </table>
                  
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
   



    <%include Application.layouts.ClientMarketTips%>
</com:TContent>


