<%@ MasterClass="Application.layouts.ClientLayout" %>

    <com:TContent ID="PageClass">
        <div id="wrapper" class="home account-pages inner-pages research-page">
    </com:TContent>


    <com:TContent ID="NavSection">
    </com:TContent>

    <com:TContent ID="PageContent">
        <div class="main">
            <div class="container">
                <div class="row container-margin">
                    <div class="col-md-3">
                        <%include Application.layouts.ClientNavBarAccount%>
                    </div>
                    <div class="col-md-9">
                        <div class="main-content-page">
                            <ul class="breadcrumb">
                                <li><a href="index.php?home">Home</a>
                                </li>
                                <li class="active">Research & Quotes</li>
                            </ul>
                            <div class="content-page">

                                <h4><strong>Security Overview</strong></h4>
                                <div class="account-header  form-horizontal">
                                    <div class="form-group ">
                                        <label class="col-md-4 control-label">Select an Instrument to view Details</label>
                                        <div class="col-md-7">
                                            <com:TDropDownList AutoPostBack="true" ID="securities" DataTextField="label" DataValueField="name" CssClass="form-control pull-right " OnSelectedIndexChanged="Page.updateSecurityOverview">
                                            </com:TDropDownList>
                                        </div>
                                    </div>
                                </div>


                                <table class="table table-bordered">
                                    <tr>
                                        <td>

											<table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->symbol) ? $this->Application->Session['__currentsecurity__']->symbol: '' %></th>
                                                        <th>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->companyName) ? $this->Application->Session['__currentsecurity__']->companyName : ''; %></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <b>Sector</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->sector) ? $this->Application->Session['__currentsecurity__']->sector : '' %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Last Price</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->refPrice) ? $this->Application->Session['__currentsecurity__']->refPrice : '' %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Today's Change</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->priceChange) ? number_format( $this->Application->Session['__currentsecurity__']->priceChange , 2, '.', ','): '' %> -
                                                                <%=isset($this->Application->Session['__currentsecurity__']->priceChangeP) ? number_format($this->Application->Session['__currentsecurity__']->priceChangeP , 2, '.', ',') : '' %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Today High/Low</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->highPrice) ? number_format($this->Application->Session['__currentsecurity__']->highPrice, 2, '.', ','): '' %> /
                                                                <%=isset($this->Application->Session['__currentsecurity__']->lowPrice) ? number_format($this->Application->Session['__currentsecurity__']->lowPrice, 2, '.', ','): '' %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Best Ask/Bid</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->bestOfferPrice) ? number_format($this->Application->Session['__currentsecurity__']->bestOfferPrice, 2, '.', ',') : '' %> (
                                                                <%=isset($this->Application->Session['__currentsecurity__']->bestOfferQty) ? number_format($this->Application->Session['__currentsecurity__']->bestOfferQty, 0, '.', ',') : '' %> ) /
                                                                    <%=isset($this->Application->Session['__currentsecurity__']->bestBidPrice) ? number_format($this->Application->Session['__currentsecurity__']->bestBidPrice, 0, '.', ','): '' %> (
                                                                        <%=isset($this->Application->Session['__currentsecurity__']->bestBidQty) ? number_format($this->Application->Session['__currentsecurity__']->bestBidQty, 0, '.', ','): '' %> )
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>52 Week High/Low</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->y52WeekHigh) ? number_format($this->Application->Session['__currentsecurity__']->y52WeekHigh, 2, '.', ',') : "N/A" %> /
                                                                <%=isset($this->Application->Session['__currentsecurity__']->y52WeekLow) ? number_format($this->Application->Session['__currentsecurity__']->y52WeekLow, 2, '.', ',') : "N/A" %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Volume Traded</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->volumeTraded) ? number_format($this->Application->Session['__currentsecurity__']->volumeTraded, 0, '.', ','): '' %>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <b> Last Trade</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->lastTradePrice) ? number_format($this->Application->Session['__currentsecurity__']->lastTradePrice, 2, '.', ','): '' %> (
                                                                <%=isset($this->Application->Session['__currentsecurity__']->lastTradeQty) ? number_format($this->Application->Session['__currentsecurity__']->lastTradeQty, 0, '.', ',') : '' %> )
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Volume Waited Average Price</b>
                                                        </td>
                                                        <td>
                                                            <%=isset($this->Application->Session['__currentsecurity__']->vwaPrice) ? $this->Application->Session['__currentsecurity__']->vwaPrice : '' %></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table id="index-container" style="margin:0 auto;"></table>
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <script type="text/javascript">
            $j(function() {
                $j.getJSON('get-chart-data.php?series=c&x=<%= isset($this->Application->Session['__currentsecurity__']->exchange) ? $this->Application->Session['__currentsecurity__']->exchange : '' %>&s=<%= isset($this->Application->Session['__currentsecurity__']->symbol) ? $this->Application->Session['__currentsecurity__']->symbol : '' %>&callback=?', function(data) {
                        // Create the chart
                        $j('#index-container').highcharts('StockChart', {
                            rangeSelector: {
                                inputEnabled: $j('#index-container').width() > 480,
                                selected: 1
                            },

                            title: {
                                text: '<%= isset($this->Application->Session['__currentsecurity__']->companyName) ? $this->Application->Session['__currentsecurity__']->companyName : '
                                ' %>'
                            },

                            series: [{
                                name: '<%= isset($this->Application->Session['__currentsecurity__']->symbol) ? $this->Application->Session['__currentsecurity__']->symbol : '
                                ' %>',
                                data: data,
                                type: 'area',
                                threshold: null,
                                tooltip: {
                                    valueDecimals: 2
                                },
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, 'rgba(0,0,0,0)']
                                    ]
                                }
                            }]
                        });
                    });
            });
        </script>

        <%include Application.layouts.ClientMarketTips%>
    </com:TContent>


