.TDatePicker {
	z-index: 2147483647;
	line-height: 15px;
	text-indent: 0px;
	text-transform: none;
}

.deleteButton{
	background:transparent url(../img/icons/icon-delete.png) no-repeat center;
	border:none;

}

/* message block */
.message-block {
  position: relative;
  min-height: 507px;
  height: auto;
  padding: 0 0 50px;
  z-index: 0;
  background: #292F34 url(../img/quote.jpg) no-repeat fixed;
  position: relative;
}

/* links styles */
a, a:focus, a:hover, a:active {
	color: #4f81bd;
	outline: 0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.home-item{
		background: #8b8682;
}

/* Checkout block */
.checkout-block {
	position:fixed;
	bottom:0px;
	background: #fff;
	width: 100%;
	border-top: 2px solid #1A94BD;
	border-bottom: 2px solid #1A94BD;
	font-family: Verdana, Arial, Helvetica, San-serif;
	height: 38px;
	z-index: 100000;
	list-style-type: none;

}
.checkout-block input{border:1px solid #1A94BD;}
.checkout-block  .button{background:#1A94BD; color:#fff;}
.stock {
	font-size:15px;

}
.stock span.up {
	color: green;
}
.stock span.down {
	color: red;
	margin: 0;
}

/* Blog Sidebar */
.recent-news {
	overflow: hidden;
}
.recent-news h3,
.ecommerce .recent-news h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.recent-news h3 a {
	color: #E84D1C;
}
.recent-news-inner{
	padding: 0;
}


.header {

	background: #8b8682;
	color:#fff;

}



.header-navigation > ul > li > a {
	color: #fff ;
	display: block;	
	padding: 29px 12px 30px;
}

/* Login Form*/
a.btnsigninon {
	/* background: #E54A1A!important; */
	background: #1993BC!important;
	color: #fff!important;
	outline: none;
}
#frmsignin {
	display: none;
	background-color: #1993BC;
	position: absolute;
	top: 50px;
	right: 15px;
	width: 230px;
	padding: 12px;
	*margin-top: 5px;
	font-size: 11px;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	z-index: 100;
}

.glyphicon { margin-right:10px; color:#ccc; float:right }
.panel-group, .main-content-page{padding:10px; border:1px solid #ccc;background:#eee;}
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.panel-body .table  .active {color:#eee; background:#f1f1f1;}
.content-page{border:1px solid #ccc; padding:10px;background:#fff;}
.container-margin{margin:50px 0;}

.service-box-heading .active {color:#4f81bd}

.securityOverviewProperties{background:#eee;color:#000;}
.editProfileForm{border:1px solid #000;}

.mTop
{
    margin-top: 100px;
}

.padRight
{
	margin-left: -130px;
}

span #italics
{
	font-style: italic;
	font-size: 10px;
}